<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogError\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaxFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <!--<param name="DatePattern" value="yyyyMMdd&quot;  .txt&quot;" />-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
        <!--<param name="ConversionPattern" value="%n异常时间：%d %n  异常级别：%-5p%n  异常内容：%m%n" />-->
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <!--<conversionPattern value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />-->
      </layout>
      <!--&lt; &gt; = <> %n = 回车-->
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <!--<param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />-->
      <param name="RollingStyle" value="Date" />
      <!--<layout type="log4net.Layout.PatternLayout">-->
      <layout type="log4net.Layout.PatternLayout">
      <!--<param name="ConversionPattern" value="日志时间：%d %n  日志级别：%-5p  %n  日志内容：%m%n%n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n %loggername" />
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
        <!--<conversionPattern value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />-->
      </layout>
    </appender>
  </log4net>
</configuration>