
<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>blog</title>


</head>

<!---->
<body>
{% if blog_list %}
    <ul>
    <center>{% for article in blog_list %}
<!--        投票链接，硬编码-->
<!--    <p> <li><a href="/blog/{{ article_id}}/">{{ article.title }}</a></li></p>-->
        <li><a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a></li>
<!---->

<!--{{value}}-->
<!--{{blog_list}}-->
        {% endfor %}</center>
    </ul>
{% else %}
    <p>No polls are available.内容是{{context}}</p>
{% endif %}
</body>
<!---->
</html>
